/* Universal styles */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/* Navigation */
.logo {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

/* Jumbotron */
.jumbotron {
  background-image: url('./images/jumbotron-bike.jpg');
  background-size: contain;
}

.jumbotron h1 {
  font-family: 'Monoton', sans-serif;
  font-size: 7.1rem;
  color: #FFFFFF;
  text-shadow: -1px -1px 0 #000;
}

.jumbotron p {
  width: 51.3rem;
  color: #FFFFFF;
}
